header {
    margin: 5px 0px;
    padding: 0px 5px;
    text-align: center;
    font-family: Helvetica, "Times New Roman", Times, serif;
    background-color: white;
    font-size: 1.1em;
}

nav {
    display: flex;
}

nav>article {
    flex: 1;
}

body>nav {
    margin: 10px 0px;
    padding: 10px 10px;
    box-shadow: -1px -1px 6px #888888;
    background-color: rgba(255, 192, 203, 0.267);
}
.ExampleWork>img
{
    height: 550px;
    text-align: center;
}
figcaption
{
    font-size: 25px;
}

#home,#work{
    margin: 10px 0px;
    padding: 10px 10px;
    box-shadow: -1px -1px 6px #888888;
    background-color: rgba(255, 192, 203, 0.267);
    height: 700px;
    width: 1620px;
    text-align: center;
}

section {
    margin: 10px 0px;
    padding: 10px 10px;
    box-shadow: -1px -1px 6px #888888;
    background-color: rgba(255, 192, 203, 0.267);
}

a {
    margin: 5px 0px;
    padding: 5px 5px;
}

header>figure>img {
    height: 175px;
}

nav>figure>img {
    height: 555px;
    border-style: double;
    border-color: #888888;
    width: 500px;
}

#myCanvas {
    padding: 10px;
    width: 1000px;
    font-size: 20px;
}

#myResume {
    padding: 10px;
    height: 700px;
    width: 1000px;
    font-size: 20px;
}

#resumeImg {
    border-style: none;
    height: 555px;
    width: 470px;
    position: relative;
    top: 50px;
}

body>p {
    text-align: center;
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 1.5em;
}

form {
    box-shadow: -1px -1px 6px #888888;
}

form>article {
    margin: 5px 5px;
    padding: 5px 5px;
}

legend {
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 1.5em;
}

fieldset {
    margin: 10px 10px;
    padding: 10px 10px;
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 1.5em;
    background-color: rgba(255, 192, 203, 0.267);
    text-align: center;
}

#textboxid {
    height: 50px;
    font-size: 14pt;
    width: 500px;
    background-color: whitesmoke;
}

#sendid {
    height: 50px;
    font-size: 14pt;
    width: 500px;
    background-color: whitesmoke;
}

#msgid {
    width: 500px;
    font-size: 14pt;
    background-color: whitesmoke;
}
h1{
    text-align: right;
    font-size: 80pt;
    font-family: Helvetica, "Times New Roman", Times, serif;
    padding-bottom: 0px;
    color: #888888;
 
}
