header {
    margin: 5px 0px;
    padding: 0px 5px;
    text-align: center;
    font-family: Helvetica, "Times New Roman", Times, serif;
    background-color: white;
    font-size: 1.1em;
}

nav {
    display: flex;
}

nav>article {
    flex: 1;
}

section {
    margin: 10px 0px;
    padding: 10px 10px;
    box-shadow: -1px -1px 6px #888888;
    background-color: rgba(255, 192, 203, 0.267);
}

a {
    margin: 5px 0px;
    padding: 5px 5px;
}

header>figure>img {
    height: 175px;
}

nav>figure>img {
    height: 555px;
    border-style: double;
    border-color: #888888; 
   
}

#myCanvas {
    
    margin: autopx 0px;
    padding: 10px 10px;
    width: 1000px;
    border-style: double;
    border-color: #888888;
    background-color: rgba(255, 192, 203, 0.267);
    font-size: 20px;
    
}

body>p {
    text-align: center;
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 1.5em;
}

body {
    background-color: whitesmoke;
}

form {
    box-shadow: -1px -1px 6px #888888;
}

form>article {
    margin: 5px 5px;
    padding: 5px 5px;
}

legend {
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 1.5em;
}

fieldset {
    margin: 10px 10px;
    padding: 10px 10px;
    font-family: Helvetica, "Times New Roman", Times, serif;
    font-size: 1.5em;
    background-color: white;
    text-align: center;
}

#textboxid {
    height: 50px;
    font-size: 14pt;
    width: 500px;
}

#sendid {
    height: 50px;
    font-size: 14pt;
    width: 500px;
    background-color: whitesmoke;
}

#msgid {
    width: 500px;
    font-size: 14pt;
}